{% extends 'base.html' %}
{% block timetable-page %}
<div class="container my-4">
	<div class="container my-4">
  <div class="fs-2 mb-3 mx-4" style="color:#6C757D;"><i class="bi bi-calendar3" style="font-size: 3rem; color:;"></i> Расписание</div>
	<div class="container">
  <div class="row my-4">
    <div class="col-md-5"><div class="card text-white bg-secondary mb-3" style="max-width:28rem;">
  <div class="card-header"><h4>Устройство и эволюция программного обеспечения</h4></div>
  <div class="card-body">
    <h5 class="card-title">Лекция</h5>
    <p class="card-text">по вторникам на нечетных неделях 14:00-15:30, в 7-808</p>
    <hr>
    <h5 class="card-title">Лабораторные</h5>
    <p class="card-text">дистанционно</p>
    <hr>
  </div>
</div></div>
    <div class="col-md-5"><div class="card text-white bg-secondary mb-3" style="max-width: 28rem;">
  <div class="card-header"><h4>Управление ИТ-проектами</h4></div>
  <div class="card-body">
        <h5 class="card-title">Лекция</h5>
    <p class="card-text">По вторникам на нечетных неделях, 17:30-19:00, в 7-106</p>
    <hr>
    <h5 class="card-title">Лабораторные</h5>
    <p class="card-text">По вторникам на нечетных неделях, 17:30-19:00, в 7-807</p>
	  <hr>

  </div>
</div></div>
    <div class="col-md-5"><div class="card text-white bg-secondary mb-3" style="max-width: 28rem;">
  <div class="card-header"><h4>Предварительная отработка данных</h4></div>
  <div class="card-body">
        <h5 class="card-title">Лекция</h5>
    <p class="card-text">По вторникам на нечетных неделях, 8:30-10:00, в 7-520</p>
    <hr>
    <h5 class="card-title">Лабораторные</h5>
    <p class="card-text">По субботам на четных неделях 15:45-19:00, в 7-602</p>
	  <hr>
  </div>
</div></div>
    <div class="col-md-5"><div class="card text-white bg-secondary mb-3" style="max-width: 28rem;">
  <div class="card-header"><h4>Программирование на JavaScript</h4></div>
  <div class="card-body">
        <h5 class="card-title">Лекция</h5>
    <p class="card-text">По субботам на нечетных неделях 12:00-15:30, в 7-108</p>
    <hr>
  </div>
</div></div>
  </div>
</div>
</div>
{% endblock %}